@import '@/styles/theme.scss';

.section {
  padding: 20px;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: $primary;
  margin-bottom: 20px;
}

.title {
  width: 90%;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.bookmark {
  color: $gray2;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-bottom: solid 2px $gray2;
  margin-bottom: 20px;
}

.activeTab {
  font-weight: 550;
  border-bottom: solid 2px;
  cursor: pointer;
  transition: 0.1s linear;
}

.inActiveTab {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.left {
  width: 70%;
}

.right {
  width: 20%;
}
