@import '@/styles/theme.scss';

.tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-bottom: solid 2px $gray2;
  margin-bottom: 20px;
  position: sticky;
  top: 70px;
  padding-top: 30px;
  background-color: $white;
}

.activeTab {
  font-weight: 550;
  border-bottom: solid 2px;
  cursor: pointer;
  transition: 0.1s linear;
}

.inActiveTab {
  cursor: pointer;
}
