.container {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  cursor: pointer;
  height: 60px;
}

.itemList {
  display: flex;
  flex-direction: column;
}

.itemListItem {
  display: flex;
  align-items: center;
  height: 37px;
  padding: 10px 16px;

  span {
    margin-left: 8px;
  }
}
