@import '@/styles/theme.scss';

.counts {
  margin-bottom: 16px;
}

.inputBox {
  width: 100%;
  border-radius: 6px;
  border: solid 1px $gray7;
  height: 4%;
  padding: 10px;
  margin-bottom: 26px;
}

.submit {
  background-color: $gray7;
}

.notice {
  color: $gray8;
}
