@import '@/styles/theme.scss';

.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: $primary;
  margin-bottom: 20px;
}

.title {
  width: 90%;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.bookmark {
  color: $gray2;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
