@import '@/styles/theme.scss';

.container {
  border-bottom: 2px solid $black;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
}

.icon {
  font-size: 2em;
  width: 40px;
}

.input {
  width: calc(100% - 40px);
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1em;
}

@media screen and (max-width: $tablet) {
  .input {
    font-size: 1.2em;
  }
}
