@import '@/styles/theme.scss';

.date {
  color: $gray8;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 4px;
  font-size: 0.8em;
}

.comment {
  margin-bottom: 20px;
  font-size: 0.8em;
}
