.googleButton {
  background-color: #ffffff;
  color: black;
  border: solid #a1a3b0;
  border-width: thin;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  width: 397px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  cursor: pointer;
}

.icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.googleButton:hover {
  background-color: #357ae8;
}

.cognitoButton {
  background-color: #ffffff;
  color: black;
  border: solid #a1a3b0;
  border-width: thin;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  width: 397px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  cursor: pointer;
}

.cognitoButton:hover {
  background-color: #c17b9e;
}
