.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.justifyContainer {
  display: flex;
  flex-direction: column;
}
