.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.maxWidth {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.2);
  z-index: 10000;
}
