@import '@/styles/theme.scss';

.container {
  padding-top: 55px;
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.closeWrap {
  display: flex;
  border-bottom: 1px solid $black;
  cursor: pointer;
  height: 60px;
  font-weight: 500;
  font-size: 1.3em;
  justify-content: flex-end;
  align-items: center;
  padding: 11px;

  span {
    margin-right: 10px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ItemWrap {
  display: flex;
  flex-direction: column;
}

.ItemTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  cursor: pointer;
  height: 60px;
}

.itemList {
  display: flex;
  flex-direction: column;
}

.itemListItem {
  display: flex;
  align-items: center;
  height: 37px;
  padding: 10px 16px;

  span {
    margin-left: 8px;
  }
}
