@import '@/styles/theme.scss';

.container {
  width: 70%;
  padding: 10px;
}

.tagBox {
  margin: 20px 0 10px 0;

  span {
    color: $primary;
    margin-right: 5px;
  }
}

.title {
  margin: 30px 0;
  font-size: 2em;
}
