@import '@/styles/theme.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.categoryWrap {
  display: flex;
  padding-block: 17px 8px;
}

.category {
  color: $primary;
  margin-left: 8px;
  font-weight: 500;
  font-size: 0.9em;
  &:first-child {
    margin-left: 0px;
  }
}

.imgWrap {
  position: relative;
  width: 100%;
  height: 170px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.badge {
  right: 16px;
  bottom: -16px;
  display: flex;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 0.7em;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  color: $white;
}

.fundamental {
  background-color: $red1;
}

.intermediate {
  background-color: $green1;
}

.advanced {
  background-color: $blue2;
}

.title {
  font-size: 1.1em;
  font-weight: 500;
  color: $black;
  padding-bottom: 6px;
}

.moreButton {
  border: none;
  display: flex;
  background-color: $white;
  color: $blue1;
  cursor: pointer;
  width: 50%;
  margin-top: 18px;
}

.moreWrap {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.duration {
  font-weight: 400;
  font-size: 0.85em;
  color: $gray8;
  margin-bottom: 6px;
}

.summary {
  font-weight: 400;
  font-size: 0.85em;
  color: $gray8;
}

.linkButton {
  border: none;
  display: flex;
  background-color: $white;
  color: $blue1;
  cursor: pointer;
  width: 50%;
  margin-top: 18px;
}
