@import '@/styles/theme.scss';

.aside {
  display: flex;
  margin-left: auto;
  position: fixed;
  max-width: 270px;
  min-width: 200px;
  width: 19%;
  height: 100%;
  right: 10%;
}

@media screen and (max-width: $tablet) {
  .article {
    width: 100%;
    margin: 0;
  }
}
