@import '@/styles/theme.scss';

.container {
  width: 100vw;
  height: 100vh;
  background-color: $gray1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 90%;
  height: 80%;
}

.titleBox {
  width: 100%;

  &Item1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &Item2 {
    font-size: 1.3em;
    color: $gray8;
  }
}

.recomBox {
  width: calc(100vw - 10%);
  height: calc(90% - 50px);
  overflow-x: auto;
  margin-top: 50px;

  &::-webkit-scrollbar {
    background-color: transparent;
    height: 10px;

    &-track {
      background-color: $gray3;
      border-radius: 25px;
    }

    &-thumb {
      background-color: $primary;
      border-radius: 25px;
    }
  }

  &Inner {
    margin-top: 50px;
    width: 300%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &Item {
      margin: 0 5px;
      width: 300px;
      height: fit-content;

      & > * {
        width: 100%;
        height: fit-content;

        & img {
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .container {
    height: 80vh;
  }

  .titleBox {
    &Item1 {
      font-size: 1.5em;
    }

    &Item2 {
      font-size: 1.1em;
    }
  }

  .recomBoxInner {
    margin-top: 0;

    &Item {
      width: 100%;
    }
  }
}
