@import '@/styles/theme.scss';

.container {
  display: flex;
  height: 37px;
  padding: 10px 16px;
  cursor: pointer;

  &:hover {
    background-color: $gray2;
  }
}

.wrap {
  display: flex;
  align-items: center;

  span {
    font-size: 0.9em;
    margin-left: 8px;
  }
}
