/* 색상 */
$black: #000;
$white: #fff;
$disabled: #f2f4f6;
$primary: #ff9900;

$gray1: #f9f9f9;
$gray2: #f2f4f6;
$gray3: #e9eef2;
$gray4: #e2e8f0;
$gray5: #eeeeee;
$gray6: #d9d9d9;
$gray7: #cccccc;
$gray8: #a1a3b0;
$gray9: #6b7684;

$black1: #3e404c;
$black2: #1e293b;
$black3: #0f172a;

$blue1: #3b66f2;
$blue2: #6356f8;
$green1: #10b981;
$red1: #f43f5e;

/* 사이즈 */
$tablet: '992px';
