@import '@/styles/theme.scss';

.container {
  display: flex;
  width: var(--width-ratio);
  margin: 0 auto;
  background-color: $white;
  max-width: var(--max-width);
  padding: 55px 0;
  min-height: 100vh;
}

.form {
  width: 100%;
}

.title {
  width: 100%;
  font-size: 2em;
  margin: 20px 0;
  border: none;
  outline: none;
}
