@import '@/styles/theme.scss';

.section {
  display: flex;
  flex-direction: column;
  width: 74%;
  padding-top: 55px;
}

@media screen and (max-width: $tablet) {
  .section {
    width: 100%;
  }
}
