@import '@/styles/theme.scss';

.card {
  width: calc(50% - 16px);
  height: 10%;
  border-radius: 12px;
  border: 1px solid $gray5;
}

.imageBox {
  position: relative;
  width: 100%;
  height: 50%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.image {
  width: 100%;
  height: 50%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.bookmark {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $primary;
  cursor: pointer;
}

.info {
  padding: 15px;
}

.title {
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 500;
}

.context {
  width: 100%;
  height: 20%;
  color: $black1;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  color: $primary;
  gap: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment {
  color: $gray8;
}
