@import '@/styles/theme.scss';

.section {
  width: 100%;
  margin-top: 20px;
  border-bottom: solid 2px $gray2;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 10px;
}

.unResolve,
.resolve {
  width: 10%;
  text-align: center;
  border-radius: 12px;
  border: solid 1px $gray8;
  color: $gray8;
}

.resolve {
  border: solid 1px $green1;
  color: $green1;
}

.title {
  font-size: 1.2em;
}

.context {
  color: $gray8;
  margin-bottom: 10px;
}

.tag {
  color: $primary;
}
