@import '@/styles/theme.scss';

.container {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.rightWrap {
  display: flex;
  align-items: center;
}

.filterText {
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
}

.black {
  color: $black1;
}

.gray {
  color: $gray7;
}

.iconWrap {
  cursor: pointer;
  margin-left: 10px;
  padding-top: 4px;
}
